.root{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    justify-content: center;
    margin-bottom: 5px;
}
    .task{
        font-size: 1.5rem;
        color: white;
    }
    button{
        align-self: center;
        background-color: rgb(54, 110, 231);
        color: white;
        font-weight: bold;
        border-radius: 8px;
    }